{% extends "app_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}  <!-- Esto es lo que se va a encargar de toda la magia del form-->


{% block content %}
<!-- flash message -->
<div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
</div>
<!-- Form -->
<div class="container">
    <div class="page-header">
        <h2>Hello, {% if html_name %} {{ html_name }}! &#128054; {% else %} Stranger! {% endif %}</h2>
    </div>
    <div class = "panel panel-default">
       <div class = "panel-body">
           {{ wtf.quick_form(form) }}
       </div>
    </div>
</div>
{% endblock %}


